body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#calculator{
    font-family: Arial, sans-serif;
    background-color:  black ;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
     

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    background-color:  rgb(69, 67, 67) ;
    color: white;

}


#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding: 25px;
}

button{
    width: 90px;
    height: 90px;

    border-radius: 80px;
    border: none;
    background-color: rgb(44, 42, 42);
    color: rgb(244, 238, 238);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:rgba(186, 168, 168, 0.269);
}
button:active{
    background-color: rgba(143, 129, 129, 0.884);
}
.operator-btn{
    background-color:  rgba(218, 93, 93, 0.502) ;
}